<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LaboMaster</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
    <script src="/send_url.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  
  </head>
  <body>
    <header>
        <!-- <div class="container"> -->
            <div class="header-logo">
                <a href="/">LaboMaster</a>
            </div>
            <div class="header-list">
                <ul>
                    <li><a href="/view_fitbit_lending_status">備品状態</a></li>
                </ul>
            </div>
        <!-- </div> -->
    </header>
    <div class="resister-form-wrapper">
        <div class="container">
            <div class="heading">
                <p><%= bango.id %>番の<%= bango.item %>を借りる</p>
            </div>
            <form action="/update/<%= bango.id %>" method="post">
                <div class="resister-forms">
                    <div class="resister-form" id="focus">
                        <div class="resister-form-txt-contents" tabindex="0">
                            貸出者
                        </div>
                        <div class="resister-form-input-area" >
                            <input type="text" name="bangoLender">
                        </div>
                    </div>
                    <div class="resister-form" id="focus">
                        <div class="resister-form-txt-contents">
                            使用者
                        </div>
                        <div class="resister-form-input-area">
                            <input type="text" name="bangoProprietary">
                        </div>
                    </div>
                </div>
                <div class="btn-wrapper resister-btn-wraper">
                    <input class="resister-btn" type="submit" value="登録する">
                </div>
                <input type="hidden" name="type" value="<%= bango.item %>">
            </form>
        </div>
    </div> 
    <script type="text/javascript" src="script.js"></script>  
  </body>
</html>