<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>LaboMaster</title>
        <link rel="stylesheet" href="/css/stylesheet.css">
        <script src="/send_url.js"></script>
    </head>
    <body>
        <header> 
            <!-- <div class="container"> -->
                <div class="header-logo">
                    <a href="/">LaboMaster</a>
                </div>
                <div class="header-list">
                    <ul>
                        <li><a href="/">借りる・返す</a></li>
                        <li><a href="/select_number">時刻計測</a></li>
                    </ul>
                </div>
            <!-- </div> -->
        </header>
        <div class="equipmentdecision-selectionarea">
            <div>
                <div class="inlinetradeup-section">
                    <div class="tradeupinline-selectionheader">
                        <h2>お持ちの行動計の番号をクリックしてください</h2>
                    </div>
                    <div class="form-selecter">
                        <% numbers.forEach((number) => { %>
                            <div class="data">
                                <a class="id-column" href="/resister_sleep/<%= number.id %>"><%= number.id %></a>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>