<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>LaboMaster</title>
        <link rel="stylesheet" href="/css/top-stylesheet.css">
        <script src="/send_url.js"></script>
    </head>
    <body>
        <div class="sleep-wrapper">
            <p>名前を入力し、就寝直前に「これから寝ます」を押してください</p>
            <form action="/sleep" method="post">
                <input type="text" name="sleep">
                <input type="submit" value="これから寝ます">
            </form>
            <p><a href="/">実験実施者用ページはこちら</a></p>
        </div>
    </body>
</html>