<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LaboMaster</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <header>
        <!-- <div class="container"> -->
            <div class="header-logo">
                <a href="/">LaboMaster</a>
            </div>
            <div class="header-list">
                <ul>
                    <li><a href="/view_fitbit_lending_status">備品状態</a></li>
                </ul>
            </div>
        <!-- </div> -->
    </header>
    <div class="equipment-wrapper">
        <div class="container">
            <h2>何をしますか？</h2>
            <div class="equipments">
                <div class="equipment">
                    <div class="image-wrapper">
                        <img src="/images/fitbit.PNG" class="equipment-icon">
                    </div>
                    <div class="btn-wrapper" id="btn-wrapper">
                        <a href="/borrow-fitbit" class="btn borrow">Fitbitを借りる</a>
                        <p></p>
                        <a href="/return-fitbit" class="btn return">Fitbitを返す</a>
                    </div>
                </div>
                <div class="equipment">
                    <div class="image-wrapper">
                        <img src="/images/sleep.PNG" class="equipment-icon">
                    </div>
                    <div class="btn-wrapper" id="btn-wrapper">
                        <a href="/borrow-sleep" class="btn borrow">Sleepを借りる</a>
                        <p></p>
                        <a href="/return-sleep" class="btn return">Sleepを返す</a>
                    </div>  
                </div>
                <div class="equipment">
                    <div class="image-wrapper">
                        <img src="/images/key.PNG" class="equipment-icon">
                    </div>
                    <div class="btn-wrapper" id="btn-wrapper">
                        <a href="/borrow" class="btn borrow">鍵を借りる</a>
                        <p></p>
                        <a href="/return" class="btn return">鍵を返す</a>
                    </div>
                </div>
                <div class="equipment">
                    <div class="image-wrapper">
                        <img src="/images/meter.PNG" class="equipment-icon">
                    </div>
                    <div class="btn-wrapper" id="btn-wrapper">
                        <a href="/borrow-meter" class="btn borrow">行動計を借りる</a>
                        <p></p>
                        <a href="/return-meter" class="btn return">行動計を返す</a>
                    </div>  
                </div>
                <div class="clear">
                </div>
            </div> 
        </div>
    </div>
    <!-- <footer>
        <div class="container">
            <div class="footer-logo">
                <a href="/">LaboMaster</a>
            </div>
        </div>
    </footer> -->
    </body>
</html>